.header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;

    nav {
        height: 100%;
    }
}
.Logo {
    height: 80%;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}