@import '../../../shared/scss/variables.scss';
@import '../../../shared/scss/typography.scss';

.note {
  height: 100%;
  width: 100%;
  padding: 2rem 5rem 5rem 5rem;
  color: $color-primary-light;
  font-size: 1.7vmin;
  overflow-x: hidden;

  &_title{
    @include heading-4-white;
    font-size: 4vmin;
    color: $color-primary-light;
  }

  a {
    color: $color-blue;
    text-decoration: none;


    &:hover {
      color: $color-blue-light;
    }
  }

  p {
    padding: 1rem 0;
  }

  p img {
    display: block;
    margin: 0 auto;
    max-width: 40vw;
  }

  ul {
    padding: 1rem 0;
  }

  code {
    font-family: "Monaco", "Menlo", "Consolas", "Arial", "Times New Roman";
    // max-width: 50%;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    font-size: small;
  }

  pre {
    padding: 3rem 3rem 3rem 3rem;
    background-color: $color-primary-dark;
    width: 95%;
    border: none !important;
    border-radius: 0.2rem !important;
    color: $color-blue-dark !important;
    font-size: 1.7vmin !important;
  }

  h4 {
    @include heading-4-white;
    padding: 2rem 0 2rem 0;
  }

  strong {
    padding: 1rem 1rem 1rem 1rem;
  }

  ul{
    margin-left: 4rem;
  }
}

.scroll{
  transition: opacity 1s;
  opacity: 0.3;
  background: $color-liner-blue;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  border: none;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }

  &:focus{
    outline: none;
  }

}

.scroll.hidden {
  opacity: 0;
  pointer-events:none;
}

