@import '../../../shared/scss/variables.scss';
@import '../../../shared/scss/typography.scss';

.note {
  height: 100%;
  width: 100%;
  padding: 2rem 5rem 5rem 5rem;
  color: $color-primary-light;
  font-size: 1.5rem;
  overflow-x: hidden;

  &_title{
    @include heading-4-white;
    font-size: 3.5rem;
    color: $color-primary-light;
  }

  a {
    color: $color-blue;
    text-decoration: none;


    &:hover {
      color: $color-blue-light;
    }
  }

  p {
    padding: 1rem 0;
  }

  p img {
    display: block;
    margin: 0 auto;
  }

  ul {
    padding: 1rem 0;
  }

  code {
    font-family: "Monaco", "Menlo", "Consolas", "Arial", "Times New Roman";
    // max-width: 50%;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    font-size: small;
  }

  pre {
    padding: 3rem 3rem 3rem 3rem;
    background-color: $color-primary-dark;
    width: 90%;
  }

  h4 {
    @include heading-4-white;
    padding: 2rem 0 2rem 0;
  }

  strong {
    padding: 1rem 1rem 1rem 1rem;
  }
}