@import '../../shared/scss/variables.scss';

.Logo {
    // background-color: $color-primary-darkest;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    img {
        height: 5rem;
    }
}