// COLOR VARIABLES
$color-primary: #555574;
$color-primary-dark: #3a3a59;
$color-primary-darkest: #333333;

$color-secondary: #ef3f61;
$color-secondary-dark: #db3b61;
$color-secondary-darkest:#CB295B;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-blue: #40A4C8;


// FONT VARIABLES
$font-primary: 'Nunito', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans';
$font-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;