@import './variables.scss';

%heading {
  font-family: $font-display;
  font-weight: 400;
}

@mixin heading-1 {
  @extend %heading;
  font-size: 7vmin;
  color: $color-primary-dark;
  line-height: 1;
}

@mixin heading-2-light  {
  @extend %heading;
  font-size: 6vmin;
  line-height: 1;
  color: $color-grey-dark-1; 
}

@mixin heading-2-dark  {
  font-family: "Roboto";
  @extend %heading;
  font-size: 5vmin;
  font-weight: 500;
  line-height: 1;
  color: $color-primary;
}

@mixin heading-3 {
  font-family: "Josefin Sans";
  font-size: 2.5vmin;
  font-weight: lighter;
  color: $color-grey-dark-1;
}


@mixin heading-4-light {
  @extend %heading;
  font-size: 3vmin;;
  color: $color-grey-dark-1;
}

@mixin heading-4-dark {
  @extend %heading;
  font-size: 3vmin;;
  color: $color-primary-dark;
}

@mixin heading-5-light {
  @extend %heading;
  font-size: 2vmin;
  color: $color-grey-dark-1;
}

@mixin heading-5-dark {
  @extend %heading;
  font-size: 2vmin;
  color: $color-primary-dark;
}

@mixin heading-6-dark {
  @extend %heading;
  font-size: 1.5vmin;
  color: $color-primary-dark;
}

@mixin mb-sm { margin-bottom: 2rem; }
@mixin mb-md { margin-bottom: 3rem; }
@mixin mb-lg { margin-bottom: 4rem; }
@mixin mb-hg { margin-bottom: 8rem; }