@import '../../../shared/scss/variables.scss';

.spinner {
  animation:spin 1s infinite linear;
  border:solid 1vmin transparent;
  border-radius:50%;
  border-right-color:$color-blue-dark;
  border-top-color:$color-blue-dark;
  box-sizing:border-box;
  height:10vmin;
  position:relative;
  width:10vmin;
  z-index:1;
  &:before {
    animation:spin 2s infinite linear;
    border:solid 1vmin transparent;
    border-radius:50%;
    border-right-color:$color-blue;
    border-top-color:$color-blue;
    box-sizing:border-box;
    content:"";
    height:8vmin;
    left:0;
    position:absolute;
    top:0;
    width:8vmin;
  }
  &:after {
    animation:spin 3s infinite linear;
    border:solid 1vmin transparent;
    border-radius:50%;
    border-right-color:$color-blue-light;
    border-top-color:$color-blue-light;
    box-sizing:border-box;
    content:"";
    height:6vmin;
    left:1vmin;
    position:absolute;
    top:1vmin;
    width:6vmin;
  }
}

@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}