@import '../../shared/scss/variables.scss';
@import '../../shared/scss/mixin.scss';
@import '../../shared/scss/typography.scss';


.note {
  display: flex;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: overflow;
  transition: all .5s;

  @media only screen and (max-width: $bp-medium) {
    height: 92vh;
  }

  @media only screen and (max-width: $bp-small) {
    display: block;
  }

  &_left {
    flex: 0 0 20vw;
    background-color: $color-primary-dark;
    height: 100%;
    // grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &_right {
    flex: 0 0 80%;
    background-color: $color-primary;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
  }

  @media only screen and (max-width: $bp-small) {

    &_left {
      width: 70vw;
      position: absolute;
      opacity: 1;
      background-color: $color-primary-dark;
      height: 100%;
      // grid-column: 1/2;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-y: auto;
      z-index: 800;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &_right {
      background-color: $color-primary;
      position: absolute;
      width: 100vw;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-y: auto;
      z-index: 1;
    }
  }

  &_triggerBtn {
    opacity: 0.3;
    background: $color-liner-blue;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    border-radius: 5px;
    border: none;
    z-index: 2;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    &:focus {
      outline: none;
    }
  }

  &_triggerBtn.hidden {
    opacity: 0;
    pointer-events:none;
  }
}